.Device {
  align-self: center;
  position: relative;
  background-size: 100% 100%;
  box-sizing: border-box;
  box-shadow: 30px 30px 60px #ccc;

  @media (max-width: 980px) {
    zoom: 0.75;
  }

  margin: 2em 0;
  &.phone {
    margin: 0 0 2em 0;
    @media (max-width: 980px) {
      margin: 2em 0;
    }
  }

  &::after {
    content: "";
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
  }

  > .screen {
    background-color: white;

    img {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

    > .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      width: 100%;
      height: 0;
      overflow: hidden;
    }

    > .embed-container iframe, .embed-container object, .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


  &.iphone4_7 {
    width: 342px;
    height: 694px;
    padding: 87px 25px;

    img {
      width: 292px;
      height: 520px;
    }

    // device frame
    background-image: url('./img/iphone4_7.png');

    // shadow
    box-shadow: none;
    &::after {
      background-image: url('./img/iphone4_7-shadow.png');
      top: -22px;
      left: -36px;
      bottom: -136px;
      right: -138px;
    }
  }

  &.windows-phone {
    &, img {
      width: 300px;
      height: 500px;
    }
  }

  &.web {
    &, img {
      width: 1024px;
      height: 720px;

      @media (max-width: 500px) {
        width: 512px;
        height: 360px;
      }
    }
  }

  &.video {
    max-width: 1024px;
  }
}
