.Device {
  align-self: center;
  position: relative;
  background-size: 100% 100%;
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  @media (max-width: 980px) {
    zoom: 0.75;
  }

  margin: 2em 0;
  &.phone {
    margin: 0;
    @media (max-width: 980px) {
      margin: 2em 0;
    }
  }

  > .screen {
    background-color: white;

    img {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

    > .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      width: 100%;
      height: 0;
      overflow: hidden;
    }

    > .embed-container iframe, .embed-container object, .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


  &.iphone4_7 {
    width: 342px;
    height: 690px;
    padding: 88px 26px 88px 27px;

    img {
      width: 289px;
      height: 514px;
    }

    background-image: url('./img/iphone4_7.png');
    box-shadow: none;
  }

  &.windows-phone {
    &, img {
      width: 300px;
      height: 500px;
    }
  }

  &.web {
    &, img {
      width: 1024px;
      height: 720px;

      @media (max-width: 500px) {
        width: 512px;
        height: 360px;
      }
    }
  }

  &.video {
    max-width: 1024px;
  }
}
